appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2022.12.7
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
et-xmlfile==1.0.1
Fiona==1.8.13.post1
fire==0.2.1
geographiclib==1.50
geopandas==0.7.0
geopy==1.21.0
googlemaps==4.2.0
idna==2.9
isort==4.3.21
jdcal==1.4.1
loguru==0.4.1
munch==2.5.0
numpy==1.18.2
openpyxl==3.0.3
pandas==1.0.3
pathspec==0.7.0
pynvim==0.4.1
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2019.3
regex==2020.4.4
requests==2.23.0
Shapely==1.7.0
six==1.14.0
termcolor==1.1.0
toml==0.10.0
tqdm==4.45.0
typed-ast==1.4.1
urllib3==1.25.8
xlrd==1.2.0
XlsxWriter==1.2.8
